@charset "UTF-8";

body{
    background-color: lightcyan;
}

#container{
    width: 1260px;
    height: 800px;
    border: 3px solid black;
}

.element{
    width: 70px;
    height: 75px;
    display: inline-block;
    outline: 1px solid black;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
}

.empty{
    width: 70px;
    height: 75px;
    display: inline-block;
    outline: 1px;
}

.nonmetal{
    background-color: yellow;
}

.nobleGas{
    background-color: orange;
}

.alkaliMetal{
    background-color: lightcoral;
}

.alkalineEarthMetal{
    background-color: plum;
}

.metaloid{
    background-color: lightgreen;
}

.halogen{
    background-color: lightgoldenrodyellow;
}

.postTransitionMetal{
    background-color: greenyellow;
}

.transitionMetal{
    background-color: lightskyblue;
}

.lanthanide{
    background-color: lightblue;
}

.actinide{
    background-color: lightsteelblue;
}
