@charset "UTF-8";

body{
    background-color: lightcyan;
}

#container{
    width: 1422px;
    height: 796px;
    border: 3px solid black;
}

.element{
    width: 79px;
    height: 76px;
    display: inline-block;
    outline: 1px solid black;
    overflow: hidden;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chemicalBlockGroup{
    width: 79px;
    height: 76px;
    display: inline-block;
    outline: 1px solid black;
    font-family: "Monaco", monospace;
    overflow: hidden;
    text-align: center;
}

.empty{
    width: 79px;
    height: 76px;
    display: inline-block;
    outline: 1px;
}

.nonmetal{
    background-color: yellow;
}

.nobleGas{
    background-color: orange;
}

.alkaliMetal{
    background-color: lightcoral;
}

.alkalineEarthMetal{
    background-color: plum;
}

.metaloid{
    background-color: lightgreen;
}

.halogen{
    background-color: lightgoldenrodyellow;
}

.postTransitionMetal{
    background-color: greenyellow;
}

.transitionMetal{
    background-color: lightskyblue;
}

.lanthanide{
    background-color: lightblue;
}

.actinide{
    background-color: lightsteelblue;
}

.font{
    font-size: 11px;
    font-weight: bold;
}

.symbol{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
}

.elemFont{
    font-size: 11px;
}

.numFont{
    font-size: 15px;
    padding-bottom: 2px;
}