@charset "UTF-8";

body{
    background-color: lightcyan;
}

#container{
    width: 1097px;
    height: 600px;
    border: 3px solid black;
}

.element{
    width: 60px;
    height: 80px;
    background-color: red;
    display: inline-block;
    border: 1px solid black;
}

.empty{
    width: 60px;
    height: 80px;
    display: inline-block;
    border: 1px;
}